spring/src/main/resources/META-INF/fescar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright 2009-2016 Weibo, Inc. ~ ~ Licensed under the Apache License, 
	Version 2.0 (the "License"); ~ you may not use this file except in compliance 
	with the License. ~ You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 
	~ ~ Unless required by applicable law or agreed to in writing, software ~ 
	distributed under the License is distributed on an "AS IS" BASIS, ~ WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. ~ See the 
	License for the specific language governing permissions and ~ limitations 
	under the License. -->

<xsd:schema xmlns="http://fescar.org.com/schema/fescar"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://fescar.org.com/schema/fescar">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<!-- 声明一个标签，名字为fescar:txs -->
	<xsd:element name="txs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tx" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="optional" />
			<xsd:attribute name="appId" type="xsd:string" use="required" />
			<xsd:attribute name="txServiceGroup" type="xsd:string" use="required" />
			<xsd:attribute name="mode" type="xsd:int" use="optional" />
			<xsd:attribute name="failureHandler" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tx">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="timeout" type="xsd:int" use="required" />
			<xsd:attribute name="ref" type="xsd:string" use="optional" />
			<xsd:attribute name="method" type="xsd:string" use="optional" />
			<xsd:attribute name="scan-pakeage" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
